<body>
  <div class="main-page">
    <img src="https://cdn2.iconfinder.com/data/icons/electronic-36/32/electronic_19-512.png" style="width: 200px;" />
    <h1>
      Welcome to FaveFlix!
    </h1>
    <p>Looking for your next favorite movie? You've come to the right place! FaveFlix is here to show you Hollywood's
      greatest films. Make an account or login to start your movie journey.</p>
    <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" color="primary">
      Sign Up
    </button>
    <button mat-raised-button (click)="openLoginDialog()" style="margin-right: 10px;" color="primary">
      Login
    </button>
  </div>
</body>